@using Blazor_Traffic.Shared

<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr align="center">
                    <th colspan="4">
                        Автобуси:
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bus in this.Buses)
                {
                <tr>
                    <td class="col-md-3 col-xs-3" title="@bus.TransportType" align="left">
                        <span class="sm-label d-flex d-md-inline-block p-1 w-md-35 bus">
                            <span class="oi oi-tablet p-1 mr-1" aria-hidden="true"></span>
                            <span>@bus.LineName</span>
                        </span>
                    </td>
                    @foreach (var time in bus.Times)
                    {
                        <td class="col-md-3 col-xs-3 align-middle" align="center">
                            @time.ToShortTimeString()
                        </td>
                    }
                    @if (bus.Times.Length < 3)
                    {
                        var loops = 3 - bus.Times.Length;

                        for (int i = 0; i < loops; i++)
                        {
                            <td class="col-md-3 col-xs-3 align-middle" align="center"></td>
                        }
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@functions {
    [Parameter]
    private StopTimes[] Buses { get; set; }
}