@page "/"

<h1>Hello, Blazor!</h1>

<Description>
    This is a simple blazor app which consumes the Sofia Public Transport <a href="https://github.com/ivkos/Sofia-Public-Transport-API" rel="stylesheet">API</a> and allows you to check the current traffic state.    
</Description>
