@page "/"

<h1>Hello, Blazor!</h1>

<Description>
    This is a simple blazor app which consumes the Sofia Public Transport <a href="https://github.com/ivkos/Sofia-Public-Transport-API" rel="stylesheet">API</a> and allows you to check the current traffic state.    
</Description>

<footer>
    <hr />
    <div>
        Created by: <a href="mailto:zlatko.rusev@gmail.com">zlatko.rusev@gmail.com</a>
    </div>
    <div>
        License: <a href="https://opensource.org/licenses/MIT">MIT</a>
    </div>
    <div>
        Project: <a href="https://github.com/zrusev/Blazor_Traffic">GitHub</a>
    </div>
</footer>