@using Blazor_Traffic.Shared
@page "/metro_schedule"
@inject HttpClient Http

<div class="container">
    <div class="row">
    @if (stations == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <select class="form-control" onchange="@OnSelectionChanged">
            <option> --- Избери станция --- </option>
            @foreach (var station in stations)
            {
                <option value="@station.Id">@station.Name</option>
            }
        </select>
    }
    </div>
</div>

    @if (times != null)
    {
        <Times_List Times="@times" />
    }

@functions {
    Station[] stations;

    protected override async Task OnInitAsync()
    {
        stations = await Http.GetJsonAsync<Station[]>("api/Traffic/All");
    }

    StationTimes times;

    private async Task OnSelectionChanged(UIChangeEventArgs e)
    {
        var selectedIndex = int.Parse(e.Value.ToString());
        times = await Http.GetJsonAsync<StationTimes>($"api/Traffic/ById/{selectedIndex}");
    }
}