@using Blazor_Traffic.Shared
@inject HttpClient Http

<div class="container">
    <div class="row">
        <div class="col-md">
            <table class="table">
                <tbody>
                    <tr>
                        <td align="center" colspan="2">
                            Посока: @times.Route_1_Direction
                        </td>
                    </tr>
                    @foreach (var time in times.Route_1_Times)
                    {
                    <tr>
                        <td class="col-md-6 col-sm-6" align="center">
                            <span class="oi oi-clock mr-2" aria-hidden="true"></span>
                            +@(time.Subtract(DateTime.UtcNow.AddHours(2)).Minutes == 0 ? 1 : time.Subtract(DateTime.UtcNow.AddHours(2)).Minutes) мин.
                        </td>
                        <td class="col-md-6 col-sm-6" align="center">
                            <span class="oi oi-timer mr-2" aria-hidden="true"></span>
                            @time.ToShortTimeString() ч.
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md">
            <table class="table">
                <tbody>            
                    <tr>
                        <td align="center" colspan="2">
                            Посока: @times.Route_2_Direction
                        </td>
                    </tr>
                    @foreach (var time in times.Route_2_Times)
                    {
                    <tr>
                        <td class="col-md-6 col-sm-6" align="center">
                            <span class="oi oi-clock mr-2" aria-hidden="true"></span>
                            +@(time.Subtract(DateTime.UtcNow.AddHours(2)).Minutes == 0 ? 1 : time.Subtract(DateTime.UtcNow.AddHours(2)).Minutes) мин.
                        </td>
                        <td class="col-md-6 col-sm-6" align="center">
                            <span class="oi oi-timer mr-2" aria-hidden="true"></span>
                            @time.ToShortTimeString() ч.
                        </td>
                    </tr>
                    }            
                </tbody>
            </table>
        </div>
    </div>
</div>

@functions {
    [Parameter]
    private StationTimes times { get; set; }
}
