@using Blazor_Traffic.Shared

<div class="row">
    <div class="col-md">
        <table class="table">
            <thead>
                <tr align="center">
                    <th colspan="4">
                        Тролеи:
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trolley in this.Trolleys)
                {
                    <tr class="d-flex">
                        <td class="col-3 col-sm-3" align="left">
                            <span class="oi oi-vertical-align-top" aria-hidden="true"></span> @trolley.LineName
                        </td>
                        @foreach (var time in trolley.Times)
                        {
                            <td class="col-3 col-sm-3" align="center">
                                @time.ToShortTimeString()
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@functions {
[Parameter]
private StopTimes[] Trolleys { get; set; }
}